/* Image Slider */
.swiper-container {
    width: 100%;
    height: 300px; /* Reduced height for smaller images */
    margin: 20px 0;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 70%; /* Reduced size for smaller images */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    border-radius: 8px;
}
